body {
    background-color:antiquewhite;
}

p  {
    text-align: left;
}


#viesti {
    text-align: left;
    font-size: larger;
}

#kommentti {
    text-align: left;
    text-indent: 30px;
}

#kommentoija {
    text-align: left;
    text-indent: 15px;
}
#ylapalkki {
    float: right;
}